<app-header
  [score]="score()"
  [streak]="streak()"
/>

<div class="game-content">
  <section class="pokemon-panel">
    @if (currentPokemon(); as pokemon) {
      <div class="pokemon-display">
        <p>What type is <strong class="pokemon-name">{{ pokemon.name }}</strong>?</p>
        <img [src]="pokemon.sprite" [alt]="pokemon.name" />
      </div>
    } @else {
      <p>Loading pokemon...</p>
    }
  </section>

  <section class="answer-panel">
    @if (gameStatus() === 'playing') {
      <div>
        <app-type-selector
          (typeSelected)="selectType($event)"
          [typesSelected]="selectedTypes()" />
      </div>
      <div>
        <button
          class="submit-button"
          [disabled]="selectedTypes().length == 0"
          (click)="submitAnswer()"
        >
          Submit
        </button>
      </div>
    } @else {
      @if (currentPokemon(); as pokemon) {
        <app-game-result
          [result]="gameStatus()"
          [correctTypes]="pokemon.types"
          (next)="newRound()"
        />
      }
    }
  </section>
</div>
