<h1>Score: {{ score() }}</h1>
<h1>Streak: {{ streak() }}</h1>

@if (currentPokemon(); as pokemon) {
  <p>What type is {{ pokemon.name }} ?</p>
  <img [src]="pokemon.sprite"/>
} @else {
  <p>Loading pokemon...</p>
}

@if (gameStatus() === 'playing') {
  <div>
    <app-type-selector
      (typeSelected)="selectType($event)"
      [typesSelected]="selectedTypes()" />
  </div>
  <div>
    <button
      [disabled]="selectedTypes().length == 0"
      (click)="submitAnswer()"
    >
      Submit
    </button>
  </div>
} @else if (gameStatus() === 'correct') {
  <p>Correct! 🎉</p>
  <button
    (click)="newRound()"
  >
    Next
  </button>
} @else {
  @if (currentPokemon(); as pokemon) {
      <p>Wrong, correct types are {{ pokemon.types }}</p>
  }
  <button
    (click)="newRound()"
  >
    Next
  </button>
}
